<label>Name: </label><br>
    <%= @duck.name %>
    <br><br>
<label>Description: </label><br>
    <%= @duck.description %>
    <br><br>
<label>Student: </label><br>
    <%= @duck.student.name %>
    <br><br>
<label>Time Created: </label><br>
    <%= @duck.created_at %>
    <br><br>
<label>Time Updated: </label><br>
    <%= @duck.updated_at %>
    <br>

